@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500&display=swap');
@font-face {
  font-family: Norwester;
  src: url("norwester.otf");
}

$accent-color-bg: #0E0E0E;
$accent-color-primary: #F9F9F3;
$accent-color-second: #E02914;
$accent-color-second-light: #E86E5E;
$accent-color-second-lighter: #F0B3A8;
$primary-font: 'Montserrat Alternates';
$title-font: 'Norwester';

/**************** Override Bulma Sass vars ***************/
/*** colors ***/
$primary: $accent-color-second;
/*** footer ***/
$footer-background-color: $accent-color-second;
/*** titles ***/
$title-color: $accent-color-primary;
$subtitle-color: $accent-color-bg;
/***** Import Bulma Sass *****/
@import "../node_modules/bulma/bulma.sass";

html,
body {
  padding: 0;
  margin: 0;
  background-color: $accent-color-bg;
  color: $accent-color-primary;
  font-family: 'Montserrat Alternates' , Helvetica Neue, sans-serif;
}

h1 {
  color: $accent-color-primary;
  font-family: $title-font, Georgia, 'Times New Roman', Times, serif;
}

.me {
  font-size: 1.5em;
  font-family: $title-font;
}

.welcome {
  height: 40vw;
  padding-top: 10vw;
}

.box-accent-one {
  background-color: $accent-color-second-lighter;
}

.separator {
  background-color: $accent-color-second;
  height: 1vw;
  display: block;
  border-radius: 6px;
}
